.diagram {
	float: left;
	overflow: auto;
	width: 96.4%;
}

.diagram-widget {
	height: 2000px;
	width: 2000px;
}

.tool-container {
	position: relative;
	float: left;
	width: 3.55%;
	background-color: #000000
}
.shrink-icon {
	position: absolute;
	height: 20px;
	width: 100%;
	color: #fff;
	text-align: center;
	background: #3e85a5;
	background: -moz-linear-gradient(top, #3e85a5 0%, #0b4e77 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e85a5), color-stop(100%, #0b4e77));
	background: -webkit-linear-gradient(top, #3e85a5 0%, #0b4e77 100%);
	background: -o-linear-gradient(top, #3e85a5 0%, #0b4e77 100%);
	background: -ms-linear-gradient(top, #3e85a5 0%, #0b4e77 100%);
	background: linear-gradient(to bottom, #3e85a5 0%, #0b4e77 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e85a5', endColorstr='#0b4e77', GradientType=0);
}
.shrink-icon i {
	cursor: pointer;
}
.tool-bar {
	position: relative;
	top: 20px;
	z-index: 21;
	border-right: 1px solid #ccc;
	transition: width 0.2s linear;
	background: #fff;
	background: -moz-linear-gradient(left, #fff 0, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #fff), color-stop(100%, #e5e5e5));
	background: -webkit-linear-gradient(left, #fff 0, #e5e5e5 100%);
	background: -o-linear-gradient(left, #fff 0, #e5e5e5 100%);
	background: -ms-linear-gradient(left, #fff 0, #e5e5e5 100%);
	background: linear-gradient(to right, #fff 0, #e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );
}

.top-bar {
	position: relative;
	height: 28px;
	border-bottom: 1px solid #ccc;
	padding-left: 28px;
	background: #fff;
	background: -moz-linear-gradient(top, #fff 0, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(100%, #e5e5e5));
	background: -webkit-linear-gradient(top, #fff 0, #e5e5e5 100%);
	background: -o-linear-gradient(top, #fff 0, #e5e5e5 100%);
	background: -ms-linear-gradient(top, #fff 0, #e5e5e5 100%);
	background: linear-gradient(to bottom, #fff 0, #e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}

.tool {
	position: relative;
	margin: 0 3px 2px 3px;
	padding: 3px 2px;
	border: 1px solid transparent;
	cursor: pointer;
	white-space: nowrap;
	transition: width 0.2s linear;
	width: 70%;
}

.tool span {
	display: inline-block;
	width: 0;
	height: 12px;
	white-space: nowrap;
	font-family: arial;
	font-size: 11px;
	overflow: hidden;
	transition: width 0.2s linear;
	margin-left: 22px;
}
.GFVVQ1VPM {
	border-top: 1px solid #ccc;
	width: 80%;
	margin: 0 auto 2px auto;
	clear: both;
}

.tool:HOVER, .selected:HOVER, .selected {
	border-color: #acacac;
	background-color: #fafafa;
	border-radius: 2px;
	-moz-box-shadow: inset 0 0 2px 1px #e7e7e7;
	-webkit-box-shadow: inset 0 0 2px 1px #e7e7e7;
	-o-box-shadow: inset 0 0 2px 1px #e7e7e7;
	box-shadow: inset 0 0 2px 1px #e7e7e7;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#E7E7E7, Direction=NaN, Strength=2);
}
.top-bar .fa {
	position: absolute;
	left: 30px;
	top: 5px;
	color: #3e85a5;
	z-index: 100;
}
.top-bar .scale {
	position: relative;
	top: 2px;
	padding: 2px 6px 2px 24px;
	border-radius: 4px;
}
