body {
	overflow: hidden;
	height: 100%;
	background: #e8e8e8 url("../images/pattern.png") repeat;
}
.widget-container {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.g-head {
	background-color: #fff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.g-main {
	padding-top: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.g-footer {
	color: #fff;
	background-color: #333333;
	font-size: 1.2em;
	text-align: center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.u-left {
	width: 28%;
}
.panel {
	border-color: #3e85a5
}
.panel-primary .panel-heading {
	-webkit-box-shadow: inset 0 0 2px #2D2D2D;
	box-shadow: inset 0 0 2px #2D2D2D;
	background: #3e85a5;
	background: -moz-linear-gradient(top, #3e85a5 0%, #0b4e77 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e85a5), color-stop(100%, #0b4e77));
	background: -webkit-linear-gradient(top, #3e85a5 0%, #0b4e77 100%);
	background: -o-linear-gradient(top, #3e85a5 0%, #0b4e77 100%);
	background: -ms-linear-gradient(top, #3e85a5 0%, #0b4e77 100%);
	background: linear-gradient(to bottom, #3e85a5 0%, #0b4e77 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e85a5', endColorstr='#0b4e77', GradientType=0);
}
.u-right {
	width: 72%;
}

.u-right .panel-heading {
	padding: 6px 0 0;
}

.u-right .panel-heading .nav {
	position: relative;
	top: 2px;
	left: 12px;
}
.u-right .panel-body {
	overflow: hidden!important;
	padding: 0;
}
.u-right .panel-heading a {
	padding: 7px 15px;
	margin-right: 4px;
	background-color: rgba(232, 232, 232, 0.5);
	color: #033656;
	border: 1px solid #888;
	border-bottom: none;
	cursor: pointer!important;
}
.welcome {
	margin: 15px;
	text-align: center;
}
.welcome p {
	text-align: left;
}
.welcome img {
	margin-left: auto;
	margin-right: auto;
	width: 97%;
}
.panel-body {
	overflow: auto;
}
.tree {
	padding-left:9px;
	overflow-x:hidden;
	overflow-y:auto;
	position:relative
}
.tree:before {
	display:inline-block;
	content:"";
	position:absolute;
	top:-20px;
	bottom:16px;
	left:0;
	border:1px dotted #67b2dd;
	border-width:0 0 0 1px;
	z-index:1
}
.tree .tree-folder {
	width:auto;
	min-height:20px;
	cursor:pointer
}
.tree .tree-folder .tree-folder-header {
	position:relative;
	height:20px;
	line-height:20px
}
.tree .tree-folder .tree-folder-header:hover {
	background-color:#f0f7fc
}
.tree .tree-folder .tree-folder-header .tree-folder-name,.tree .tree-item .tree-item-name {
	display:inline;
	z-index:2
}
.tree .tree-folder .tree-folder-header>[class*="fa-"]:first-child,.tree .tree-item>[class*="fa-"]:first-child {
	display:inline-block;
	position:relative;
	z-index:2;
	top:-1px
}
.tree .tree-folder .tree-folder-header .tree-folder-name {
	margin-left:2px
}
.tree .tree-folder .tree-folder-header>[class*="fa-"]:first-child {
	margin:-2px 0 0 -2px
}
.tree .tree-folder:last-child:after {
	display:inline-block;
	content:"";
	position:absolute;
	z-index:1;
	top:15px;
	bottom:0;
	left:-15px;
	border-left:8px solid #FFF
}

.tree .tree-folder .tree-folder-content {
	margin-left:23px;
	position:relative
}
.tree .tree-folder .tree-folder-content:before {
	display:inline-block;
	content:"";
	position:absolute;
	z-index:1;
	top:-14px;
	bottom:16px;
	left:-14px;
	border:1px dotted #67b2dd;
	border-width:0 0 0 1px
}
.tree .tree-item {
	position:relative;
	height:20px;
	line-height:20px;
	cursor:pointer
}
.tree .tree-item:hover {
	background-color:#f0f7fc
}
.tree .tree-item .tree-item-name {
	margin-left:3px
}
.tree .tree-item .tree-item-name>[class*="fa-"]:first-child {
	margin-right:3px
}
.tree .tree-item>[class*="fa-"]:first-child {
	margin-top:-1px
}
.tree .tree-folder,.tree .tree-item {
	position:relative
}
.tree .tree-folder:before,.tree .tree-item:before {
	display:inline-block;
	content:"";
	position:absolute;
	top:14px;
	left:-13px;
	width:18px;
	height:0;
	border-top:1px dotted #67b2dd;
	z-index:1
}
.tree .tree-selected {
	background-color:rgba(98,168,209,0.1);
	color:#6398b0
}
.tree .tree-selected:hover {
	background-color:rgba(98,168,209,0.1)
}
.tree .tree-item,.tree .tree-folder {
	border:1px solid #FFF
}
.tree .tree-folder .tree-folder-header {
	border-radius:0
}
.tree .tree-item,.tree .tree-folder .tree-folder-header {
	margin:0;
	padding:5px;
	color:#4d6878;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box
}
.tree .tree-item>[class*="fa-"]:first-child {
	color:#f9e8ce;
	width:13px;
	height:13px;
	line-height:13px;
	font-size:11px;
	text-align:center;
	border-radius:3px;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	background-color:#fafafa;
	border:1px solid #CCC;
	box-shadow:0 1px 2px rgba(0,0,0,0.05)
}
.tree .tree-selected>[class*="fa-"]:first-child {
	background-color:#f9a021;
	border-color:#f9a021;
	color:#FFF
}
.tree .fa-plus[class*="fa-"]:first-child,.tree .fa-minus[class*="fa-"]:first-child {
	border:1px solid #DDD;
	vertical-align:middle;
	height:11px;
	width:11px;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	text-align:center;
	border:1px solid #8baebf;
	line-height:10px;
	background-color:#FFF;
	position:relative;
	z-index:1
}
.tree .fa-plus[class*="fa-"]:first-child:before {
	display:block;
	content:"+";
	font-family:"Open Sans";
	font-size:16px;
	position:relative;
	z-index:1
}
.tree .fa-minus[class*="fa-"]:first-child:before {
	content:"";
	display:block;
	width:7px;
	height:0;
	border-top:1px solid #4d6878;
	position:absolute;
	top:5px;
	left:2px
}
.tree .tree-unselectable .tree-item>[class*="fa-"]:first-child {
	color:#5084a0;
	width:13px;
	height:13px;
	line-height:13px;
	font-size:10px;
	text-align:center;
	border-radius:0;
	background-color:transparent;
	border:0;
	box-shadow:none
}
.tree [class*="fa-"][class*="-down"] {
	transform:rotate(-45deg)
}
.tree .fa-spin {
	height:auto
}
.tree .tree-loading {
	margin-left:36px
}
.tree img {
	display:inline;
	veritcal-align:middle
}
#propertiesExplorer .panel-body {
	margin-left: auto;
	margin-right: auto;
	width: 99%;
}

.tools {
	border-right: 1px solid #ccc;
	transition: width 0.2s linear;
	background: #fff;
	background: -moz-linear-gradient(left, #fff 0, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #fff), color-stop(100%, #e5e5e5));
	background: -webkit-linear-gradient(left, #fff 0, #e5e5e5 100%);
	background: -o-linear-gradient(left, #fff 0, #e5e5e5 100%);
	background: -ms-linear-gradient(left, #fff 0, #e5e5e5 100%);
	background: linear-gradient(to right, #fff 0, #e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );
}

.tab-pane select {
	padding: 4px 10px;
}
.scale {
	position: relative;
	border-bottom: 1px solid #ccc;
	background: #fff;
	background: -moz-linear-gradient(top, #fff 0, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(100%, #e5e5e5));
	background: -webkit-linear-gradient(top, #fff 0, #e5e5e5 100%);
	background: -o-linear-gradient(top, #fff 0, #e5e5e5 100%);
	background: -ms-linear-gradient(top, #fff 0, #e5e5e5 100%);
	background: linear-gradient(to bottom, #fff 0, #e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}
.scale select {
	padding-left: 23px!important;
	padding-right: 0!important;
}
.scale .fa {
	position: absolute;
	left: 5px;
	top: 6px;
}
.svg_canvas {
	background-color: #fff!important;
}
.tools div span {
	position: relative;
	top: 2px!important;
}
.swich_tool_view {
	padding-left: 0!important;
	padding: 0!important;
	margin: 0!important;
	font-size: 21px;
	display: block;
	text-decoration: none;
	height: 17px!important;
	line-height: 17px!important;
	margin-bottom: 5px;
	padding: 2px 4px 2px 0;
	cursor: pointer;
	overflow: hidden;
	color: #fff;
	background: #3e85a5;
	background: -moz-linear-gradient(top, rgba(62, 133, 165, 1) 0, rgba(11, 78, 119, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(62, 133, 165, 1)), color-stop(100%, rgba(11, 78, 119, 1)));
	background: -webkit-linear-gradient(top, rgba(62, 133, 165, 1) 0, rgba(11, 78, 119, 1) 100%);
	background: -o-linear-gradient(top, rgba(62, 133, 165, 1) 0, rgba(11, 78, 119, 1) 100%);
	background: -ms-linear-gradient(top, rgba(62, 133, 165, 1) 0, rgba(11, 78, 119, 1) 100%);
	background: linear-gradient(to bottom, rgba(62, 133, 165, 1) 0, rgba(11, 78, 119, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e85a5', endColorstr='#0b4e77',GradientType=0 );
}
.swich_tool_view .fa {
	position: relative;
	right: 2px;
	float: right;
	height: 17px;
	line-height: 17px;
}
.GFVVQ1VPM {
	border-top: 1px solid #ccc;
	width: 80%;
	margin: 0 auto 2px auto;
	clear: both;
}
#home {
	overflow: auto;
}
