body{
	font-family: "微软雅黑";
}
#canvas_freamwork{
	width:700px;
	height:600px;
	overflow:auto;
}
#uml_canvas{
	width:1600px;
	height:1000px;
	position:relative;
	background:#CCFFCC;
	-webkit-transform-origin:0px 0px;
}
#uml_canvas .node .name ,#uml_canvas .node .header{
	cursor:move;
	text-align:center;
}
#uml_canvas .node {
	min-width:60px;
	position:absolute;
	border-radius:2px;
	padding:1px;
	border:1px solid #5890c1;
	font-size:14px;
}
#svg_canvas {
	position:absolute;
	width:100%;
	height:100%;
}
.actions ,.properties ,.enumItems{
	border-top:1px #5890c1 solid;
	min-height:10px;
}

#tools,#uml_canvas{
	float:left;
}
/*线条的样式*/
marker path {
	fill:#FFF;
	stroke:#5890c1;
}
#lines path {
	stroke-width:2px;
	stroke:#5890c1;
}
#line-template path {
	stroke:#5890c1;
	stroke-width:2px;
	cursor:pointer;
}
#template{display:none;}
#node-template .node{
	cursor:pointer;
	width:180px;
	position:relative;
	margin:10px;
	-webkit-transform:scale(0.5);
	-moz-transform:scale(0.5);
}
.node {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#bbb));
}
.property div{
	height:18px;
	line-height:18px;
	display:inline-block;
}
.node .property:before{
	content:"+ ";
}
.propertyName,.propertyType,.relation{min-width:30px;}
.properties,.actions{
	
}
.node .action div{
	display	: inline-block;
}
.node .action:before{
	content:"+ ";
	vertical-align:middle;
}


/*画布工具栏*/
#tools {
	border:#5890C1 1px solid;
}
#tools div {
	padding-left:17px;
	height 	: 17px;
	line-height:15px;
	margin 	: 5px;
	cursor 	: pointer;
	vertical-align: middle;
}
#tools div span{
	display:block;
	padding-left:7px;
	height:17px;
}
#tools .cursor{background:url("../images/icons/cursor.png") no-repeat 0 1px;}
#tools .entity{background:url("../images/icons/class.png") no-repeat 0 1px;}
#tools .interface{background:url("../images/icons/interface.gif") no-repeat 0 1px;}
#tools .enum{background:url("../images/icons/enum.png") no-repeat 0 1px;}
#tools .property{background:url("../images/icons/property.png") no-repeat 0 1px;}
#tools .enumItem{background:url("../images/icons/enumItem.png") no-repeat 0 1px;}
#tools .action{background:url("../images/icons/action.png") no-repeat 0 1px;}
#tools .extends{background:url("../images/icons/generalizatic.gif") no-repeat 0 1px;}
#tools .implement{background:url("../images/icons/realization.gif") no-repeat 0 1px;}
#tools .aggregate{background:url("../images/icons/aggregate.gif") no-repeat 0 1px;}
#tools .compose{background:url("../images/icons/compose.gif") no-repeat 0 1px;}
#tools .associate{background:url("../images/icons/associate.gif") no-repeat 0 1px;}
#tools .current-tool{box-shadow: 0 0 10px #000000;}

/*各种右键菜单的样式*/
.contextmenu{
	border:#bcbcbc 1px solid;
	background:#f0f0f0;
	position:absolute;
	border-radius:1px;
	-moz-box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 2px 2px 5px #000;
	box-shadow: 2px 2px 5px #000;
}
.contextmenu_item{
	height:17px;
	min-width:0px;
	overflow:hidden;
	margin: 3px;
	display:table-row;
	cursor:pointer;
	
}
.contextmenu_item:hover{
	border:1px solid blue;
}
.contextmenu_item div{
	margin:1px 3px;
	padding-left:20px;
	font-size:14px;
	
}
.contextmenu_item div{background:no-repeat 0 2px;}
.add_property div{background-image:url("../images/icons/property.png");}
.add_action div{background-image:url("../images/icons/action.png");}
.add_enumItem div{background-image:url("../images/icons/enumItem.png");}
